.NewsPage {
  width: 800px;
  margin: 0 auto;
}

.NewsItem {
  display: flex;
  padding: 10px 0;
  .thumbnail {
    img {
      width: 300px;
      max-height: 200px;
      object-fit: cover;
    }
  }
  .content {
    flex-grow: 1;
    padding-left: 20px;
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
  }
}

.Categories {
  display: flex;
  .item {
    cursor: pointer;
    padding: 10px 15px;
  }
  .active {
    color: blue;
  }
}
